.question_container {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px;
  border: 1px solid #D9D9D9;
  margin-bottom: 25px;
}

.question-title_container {
  margin: 0px 0px 25px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E8F3FF;
}

.krestik{
  position: absolute;
  right: 10px;
  color: red !important;
  font-size: 25px !important;
}

.question-title_container p {
  color: #646464;
  font-size: 18px;
  flex: 1 0 0;
  text-align: center;
}

.question-name_container {
  margin: 0px 0px 25px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.add-image_containe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.add-image_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 0px 20px 0px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.add-image_container .form-group {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 300px;
          flex: 0 1 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.add-image_container .form-group .btn-tertiary {
  -webkit-box-shadow: 0px 2px 2px #bdbdbd;
          box-shadow: 0px 2px 2px #bdbdbd;
  cursor: pointer;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
}

.add-image_container .form-group .btn-tertiary:hover span {
  color: #8b8b8b;
}

.add-image_container .form-group .btn-tertiary span {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  color: #484848;
  font-size: 15px;
}

.add-image_container .form-group .btn-tertiary div {
  margin-right: 10px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  height: 20px;
  background: url("attach-outline.svg") no-repeat center;
}

.add-image_container .input-file {
  width: .1px;
  height: .1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.img_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
}

.img_container .img-wrap {
  position: relative;
}

.img_container .img-wrap .img {
  z-index: 0;
  max-width: 100%;
}

.img_container .img-wrap .del-img-btn {
  cursor: pointer;
  position: absolute;
  right: 5px;
  top: 5px;
  width: 30px;
  height: 30px;
  background: url("x-del.svg") no-repeat center;
}

.answers_container {
  margin: 0px 0px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.answers_container .answer_container {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 25px;
}

.inp {
  display: none;
}

.add-answer-button_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px 0px 15px 0px;
}
.descr_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 25px;
}

.descr {
  resize: none;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  border-radius: 0px;
  border: 1px solid #dbdbdb;
  color: #616161;
  padding: 5px;
}

.descr:focus {
  outline: 2px solid #4185c9;
}

.descr::-webkit-input-placeholder {
  color: #919191;
}

.descr:-ms-input-placeholder {
  color: #919191;
}

.descr::-ms-input-placeholder {
  color: #919191;
}

.descr::placeholder {
  color: #919191;
}

.loading-img_container {
  margin-bottom: 15px;
}

.loading-img_container .loading-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.loading-img_container .loading-img div {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60px;
          flex: 0 0 60px;
  height: 30px;
  background: url("Infinity.svg") no-repeat center;
}