@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
  min-width: 300px;
  overflow: hidden;
}

input {
  border: 0px;
  outline: none;
}

p {
  margin: 10px 0px 10px 0px;
}

.content_container {
  padding: 0px 10px 0px 10px;
  overflow: auto;
  margin-top: 75px;
}

.content__ {
  margin: 0px auto;
  max-width: 768px;
}

.title_container {
  text-align: center;
}

.title_container p {
  color: #484848;
  font-size: 20px;
}

.test-name_container {
  margin: 0px 0px 10px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.text-input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  border-bottom: 1px solid #4E4E4E;
  font-size: 16px;
  padding-bottom: 5px;
  color: #484848;
}

.text-input:focus {
  border-bottom: 2px solid #4185C9;
  margin-bottom: -1px;
}

.text-input::-webkit-input-placeholder {
  color: #989898;
}

.text-input:-ms-input-placeholder {
  color: #989898;
}

.text-input::-ms-input-placeholder {
  color: #989898;
}

.text-input::placeholder {
  color: #989898;
}

.add-question-button_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px 0px 25px 0px;
}

.button {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 200px;
          flex: 0 1 200px;
  height: 38px;
  cursor: pointer;
}

.button p {
  font-size: 15px;
}

.add-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #4185C9;
}

.add-button p {
  color: #fff;
  margin: 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

.add-button .add-img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  height: auto;
  margin-right: 8px;
}

.add-button .add-img div {
  margin: auto;
  background: url("addimg.svg") no-repeat center;
  width: 17px;
  height: 17px;
}

.add-button:hover {
  border-bottom: 3px solid #C2E1FF;
  margin-bottom: -3px;
}

.create-button_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.create-button_container .create-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #E86464;
}

.create-button_container .create-button p {
  color: #fff;
}

.create-button_container .create-button:hover {
  border-bottom: 3px solid #FFC2C2;
  margin-bottom: -3px;
}



.is-private_container {
  margin: 0px 0px 25px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.is-private_container p {
  margin: 0px;
  color: #484848;
  font-size: 15px;
  margin-top: 5px;
}
