.loader_container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100vh;
}

.loader_container div {
    margin: auto;
    width: 100px;
    height: 100px;
    background: url("Double Ring-1s-84px.svg") no-repeat center;
}