.loader_container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: calc(100vh - 50px);
}
.loader_container img {
    margin: auto;
}
img.rot {
    animation: 2s linear 0s normal none infinite running rot;
    -webkit-animation: 2s linear 0s normal none infinite running rot;
    width: 150px;
}
@keyframes rot {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@-webkit-keyframes rot {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
