.mv {
    margin-left: 1rem;
    margin-right: 1rem;
}

.navbar {
    background-color: #414141;
  }
  
  .navbar-brand {
    padding-bottom: 5px;
    padding-top: 1px;
    padding-left: 10px;
    color: #fff;
    font-size: 20px;
  }
  
  .navbar-brand span {
    color: red;
    font-size: 25px;
  }
  
  .navbar-toggler {
    border: 0px;
  }
  
  .navbar-toggler:focus {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  
  .collapse {
    color: #fff;
  }
  
  .navbar-collapse {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }