
html body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
}


a {
  text-decoration: none;
}

.header {
  height: 50px;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 5;
}

.header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #fff;
  z-index: 5;
  box-shadow: 0px 2px 3px rgb(177, 177, 177);
}

.header__body {
  background-color: #fff;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 50px;
  width: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.header__logo {
  color: #202020;
  z-index: 6;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
  font-weight: 600;
}
.header__logo span {
  color: red;
  font-size: 20px;
}
.header__user {
  overflow: hidden;
  line-height: 20px;
  z-index: 6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 0px;
  flex: 1 0 auto;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-right: 10px;
}
.header__user a {
  flex: 0 1 auto;
  max-width: 100ch;
  font-size: 14px;
  color: #2775ff;
}
.header__user a p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.header__burger {
  display: none;
  flex: 0 0 20px;
  margin-right: 15px;
}

.header__menu {
  padding-left: 10px;
  padding-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 5;
  padding-left: 0px;
}

.header__list li {
  list-style: none;
  margin-left: 20px;
}
.header__list li a {
  font-size: 15px;
  color: #757575;
}
.header__list li a:hover {
  transition: all 0.3s;
  color: #2e2e2e;
}

.header__link {
  font-size: 18px;
  text-decoration: none;
  outline: none;
}

.overlay {
  height: calc(100vh);
  background-color: black;
  position: fixed;
  opacity: 0;
  left: 0;
  width: 100%;
  display: none;
}

.overlay_active {
  z-index: 2;
  display: block;
  opacity: 0.7;
}

@media (max-width: 767px) {
  .header__burger {
    display: block;
    position: relative;
    width: 25px;
    height: 20px;
    z-index: 5;
  }
  .header__burger.active:before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.active:after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    bottom: 9px;
  }
  .header__burger.active span {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  .header__burger span {
    position: absolute;
    background-color: black;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger:before {
    content: "";
    background-color: black;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    top: 1px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .header__burger:after {
    content: "";
    background-color: black;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: 1px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .header__menu {
    position: fixed;
    top: calc(-100%);
    left: 0;
    width: 100%;
    height: auto;
    background-color: #fff;
    padding: 70px 0px 0px 0px;
    z-index: 3;
    -webkit-transition: all 0.7s;
    transition: all 0.7s;
  }
  .header__menu.active {
    top: 0;
    -webkit-transition: all 0.7s;
    transition: all 0.7s;
  }
  .header__list {
    display: block;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .header__list li {
    margin-bottom: 20px;
  }
  .header__body {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .header__user a {
    font-size: 14px;
  }
}

.dropbtn {
  font-size: 14px;
  color: #2775ff;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  position: relative;
  z-index: 3;
}
.dropdown-container {
  flex: 1 0 0;
  display: flex;
  justify-content: flex-end;
}
.dropdown {
  overflow: hidden;
  line-height: 20px;
  z-index: 6;
  margin-right: 10px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 3;
}

.dropdown-content a {
  color: #757575;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 14px;
}
.dropdown-content .logout {
  color: #d44b4b;
}
.dropdown-content a:hover {
  color: #2e2e2e;
}

.dropdown-content .logout:hover {
  color: #b80000;
}

.dropdown:hover .dropdown-content {
  display: block;
  margin-top: -30px;
}
